# Ignore Python bytecode
__pycache__/
*.py[cod]

# Specifically ignore __pycache__ inside src
/src/__pycache__/

# Ignore virtual environments
venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
